.order_details_page {
  justify-content: space-between;
  width: 100%;
}

.shipping_addres_text {
  /* text-decoration: underline; */
  font-size: 24px;
  background-color: #6d6dff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.details_first_div {
  width: 75%;
}

.details_first_sm_div {
  border: 1px solid #111;
  padding: 1rem 0.5rem;
  border-radius: 8px;
}

.details_second_div {
  width: 75%;
}

.large_order_details {
  width: 70%;
}

.small_order_details {
  width: 15%;
  text-align: end;
}

.edit_order_status_btn {
  padding: 0.5rem 1rem;
  background: #111;
  color: #fff;
  border: none;
  width: fit-content;
  font-size: 12px;
}

.disable {
  background: grey;
  cursor: not-allowed;
}

.edit_delivery_status {
  width: fit-content;
  padding: 0.3rem;
}

/* ------------ PRODUCT_DETAILS -----------*/

.product_details_container {
  /* gap: 1rem; */
  width: 80%;
  padding: 2rem;
  margin: auto;
  position: relative;
}

.product_image {
  width: 380px;
  aspect-ratio: 1/1.4;
  object-fit: cover;
  border-radius: 8px;
}

.product_name {
  font-size: 24px;
  font-weight: 700;
}

.product_details_section {
  width: calc(100% - 450px);
}

.product_ratings p {
  font-size: 12px;
  font-style: italic;
}

.product_price {
  font-size: 24px;
}

.product_price_off {
  font-size: 14px;
  color: grey;
  text-decoration: line-through;
  font-style: italic;
}

.percent_off {
  background-color: #6d6dff;
  padding: 0.3rem 0.7rem;
  font-size: 12px;
}

.products_sold_text,
.in_stock_text {
  font-size: 14px;
  font-weight: 700;
}

.products_sold,
.in_stock {
  font-size: 20px;
  font-style: italic;
}

.create_product {
  width: 40%;
}
.edit_product_input {
  padding: 0.5rem;
}

.edit_product_desc {
  height: 150px;
  width: 100%;
  resize: none;
}

.edit_product label,
.create_product label {
  font-size: 14px;
  font-weight: 700;
}

.edtit_header {
  font-size: 26px;
}
