@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./styles/style.css);
@import url(./styles/dashboard_style.css);

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #131920;
}

body {
  overflow: hidden;
}

.app_children::-webkit-scrollbar {
  width: 5px;
  background: #000;
}

.app_children::-webkit-scrollbar-thumb {
  background: #cececf;
}

.app_nav {
  width: 18%;
}

.app_children {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
  transition: 0.3s ease-in-out all;
  top: 0;

  .app_top_nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 9;
    color: #fff;
    backdrop-filter: blur(6px);
    background: rgba(34, 34, 34, 0.1);
  }
}

.full_screen {
  width: 100%;
  position: absolute;
  right: 0;
}

.half_screen {
  width: 82%;
}

.app_container {
  display: flex;
  width: 100%;
}

.ltr {
  flex-direction: row-reverse;
}

.full_screen_reverse {
  left: 0;
  width: 100%;
  position: absolute;
}

.padding05rem {
  padding: 0.5rem;
}

.width100 {
  width: 100%;
}

.mrt1rem {
  margin-top: 1rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align_center {
  align-items: center;
}

.justify_center {
  justify-content: center;
}

.justify_between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.sideNavMainDiv {
  width: 15%;
  position: sticky;
  top: 0;
  height: 100vh;
  border-right: 2px solid #c9c9c9;
  background: #fff;
}

.routesMainDiv {
  width: 80%;
  padding: 1rem 2rem;
  background: #fff;
  margin: 2% auto;
  border-radius: 8px;
}

.active_menu {
  background: rgba(189, 217, 248, 0.5);
  border-right: 2px solid #6d6dff;
}

.gap05rem {
  gap: 0.5rem;
}

.gap1rem {
  gap: 1rem;
}

.gap15rem {
  gap: 1.5rem;
}

.gap2rem {
  gap: 2rem;
}

.gap3rem {
  gap: 3rem;
}

.gap4rem {
  gap: 4rem;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font120 {
  font-size: 120px;
}

button {
  cursor: pointer;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.main_dialog_container {
  * {
    background-color: transparent !important;
    color: #fff;
  }

  .save_changes {
    background: #91c3f4 !important;
  }
}
